/* @font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: 'codystarlight';
    src: url('/fonts/codystar-light-webfont.woff') format('woff');
}

Unfortunately, this doesn't seem to work without webpack tweaks
*/

.App {
  text-align: center;
  color: #b7ffda;
  font-family: sans;
}

h1 {
  margin-top: 30vh;
  font-size: 8em;
  font-weight: 100;
  transition: 1s;
}

#loadBook {
  margin: auto;
  width: 90vw;
  padding: .3em;
  font-size: 2em;
  border-top: 1px solid #b7ffda;
  border-bottom: 1px solid #b7ffda;
  cursor: pointer;
  transition: 1s;
}

#footer {
  text-align: left;
  font-size: 1em;
  font-weight: 100;
  position: absolute;
  left: 0;
  bottom: 0;
}

.white {
  color: white;
  border-color: white !important;
}

webview {
  display: none;
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: visible;
}
